
<footer class=" footer  pt-5 pb-5">
    <div class="container">
     <div class="row justify-content-center"> 
       <div class="col-12 align-self-center ">
         <div class="text-center mb-3">
         <a  class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fab fa-google-plus fa-2x"></i></a>
         <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook fa-2x"></i></a>
         <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin fa-2x"></i></a>
         <a class="btn btn-social-icon btn-twitter"  href="http://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
         <a  class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fab fa-youtube fa-2x"></i></a>
     </div>
     </div>
    </div>
     <div class="row"> 
       <div class="col-lg-4 col-6">
         <h4>Hours:</h4>
         Saturday - Thursday:<br/> 11:15 am - 10:00 pm<br/>
         Thursday - Friday: <br/>11:15 am - 2:30 pm
     </div>
    
     <div class="col-lg-4 col-6 address">
       <h4>Address:</h4>
       329 fake Street, <br/> North Melbourne VIC 3051, Italy.<br/>
    
       <i class="fa fa-phone-alt "></i> : 123 456 7890
    </div>
    <div class=" footerQuote col-lg-4 ">
     
     <i class="font-weight-bold ">"You better cut the pizza in four pieces because I'm not hungry enough to eat six."</i>
     
    <div style="font-size:14px; color:lightgray"> — Yogi Berra, The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014 </div>
    </div>
     </div>
     <div class="row justify-content-center">             
       <div class="col-auto">
           <p>© Copyright 2018 Ristorante Pizza</p>
       </div>
    </div>
    </div>
    </footer>
    <!--#endregion -->