.menuImage{
    background-image: url("src/assets/images/valentin-salja-BH-rHaiZuQw-unsplash.jpg");
 }

.cartBtn {
  border: 0px;
  align-items: center;
  padding: 7px 15px;
  cursor: pointer;
  background-color: white;
 font-size: small;
 color: black;
 margin: auto -90px auto auto;
}
.cartBtn:hover{
  background-color:#f0f2f3;
}
@media only screen and  (max-width: 992px) {
  .cartBtn{
    margin: auto 10px auto auto;
  }
}
