<!--#region cart Modal -->
<div id="cartModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="content">
       <div class="modal-content">
         <div class="container">
         <div class="modal-body ">
               <h1 *ngIf="cartItem.items.length===0 " class="emptyCart" >Your cart is empty !</h1>
               <div *ngIf="cartItem.items.length>0">
               <div  class=" col-12" *ngFor="let item of cartItem.items let i=index">
               <app-cart-item  [cartItem]=cartItem.items[i] (returnedCartItem)=setUpdatedCartItems($event)  ></app-cart-item>
               </div>
         </div>
         <div class="modal-footer mt-3">
            <div class="form-group row">
               <span class="mt-1 cartTotal">Total {{cartItem.total| currency:'USD':'symbol':'2.2-2'}}</span>
                  <button type="submit" class="btn btn-darkred btn-sm mr-3" >Checkout</button>
                    <button type="button" class="btn btn-secondary btn-sm  mr-2"  data-dismiss="modal" >Back to Menu</button>
                    
                
            </div>
        </div>
        </div>
    </div>
       </div>
    </div>
    </div>
    <!--#endregion -->
    