
  <!--#region story  -->
  <div id="story"  class="container pb-5">
    <h2  class="pt-5 mt-3 mb-5 font-weight-bold s-header">Our Story</h2>
   
    <div class="row">
      <div class="col-lg-6 col-12" >
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At exercitationem nemo dolor tempora molestiae dolores consectetur impedit ipsa sequi nobis necessitatibus iusto laborum animi pariatur, omnis magni mollitia enim, consequuntur delectus beatae vitae! Temporibus expedita suscipit eaque veritatis cumque vel, voluptas repudiandae consequatur ipsa consequuntur cum aspernatur adipisci vero iure!</p>
      </div>
      <div class="col-lg-4 col-12" >
        <img src="assets/images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg" class="story offset-lg-4" alt="rrr1">
      </div>
    </div>
      </div>
      <!--#endregion -->
   