  <!--#region OUR SPECIALITY  -->
  <div class="pt-5" style="background-color: white;">  
    <div class="container ">
    <h2 class=" mt-5 mb-5 font-weight-bold s-header">OUR SPECIALITY</h2>
    <div class="row row-content ">
    <div class=" col-lg-6" >
    <img src="assets/images/Webp.net-resizeimage (2).jpg" class=" mr-1 mb-5 col-12" alt="rrr1">
    <div class=" col-12 mb-5">
     <h4 class="mt-0 font-weight-bold s-header">Margherita Pizza</h4>
     cheese / Olive Oil / Salt <br/>
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
    
    </div>
    </div>
    
    <div class="col-lg-6 ">
    <img src="assets/images/Webp.net-resizeimage (1).jpg" class=" ml-1 mb-5 col-12" alt="rrr2">
    <div class=" col-12 " style="margin-bottom: 30px;">
     <h4 class="mt-0 font-weight-bold s-header">Hotdog Pizza</h4>
     Hotdog / Olive Oil / Salt <br/>
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
    </div>
    
    </div>
    
    </div>
    </div>
    </div>
    <!--#endregion -->
    